<div class="container-fluid bg-light page-header">
  <div class="row">
    <div class="col">
      <h4>Stocks</h4>
    </div>
    <div class="col" style="text-align: right;">
      <button (click)="onNavigatToStockForm()" class="btn btn-primary">
        <fa-icon [icon]="faPlusCircle"></fa-icon> Stock
      </button>
    </div>
  </div>
</div>

<div class = "row p-3">
  <div class="col-3">
    <div class="card">
      <div class="card-header bg-success" style="color: whitesmoke;">
          <ng-container *ngIf="filter.date else today" >
            <h4> Stocks : {{filter.date | date:'dd/MM/yyyy '}} </h4>
          </ng-container>
          <ng-template #today>
              <h4>Stocks : Today </h4>

          </ng-template>
      </div>
      <div class="card-body">
        <ng-container *ngIf="branch$ | async; else noToday">
          <div class="row p-3">
            <div class="col" *ngFor="let branch of branch$ | async">
              <span *ngIf="onCheckTodayStockAndBranch(branch.id); else notCheck">
                <fa-icon [icon]="faCheck"></fa-icon>
              </span>
              <ng-template #notCheck>
                <span>
                  <fa-icon [icon]="faCross"></fa-icon>
                </span>
              </ng-template>
              <span> {{ branch.branch }} </span>
            </div>
          </div>
        </ng-container>
        <ng-template #noToday>
          <h4>Data</h4>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<div class = "container-fluid">
  <div class = "card">
    <div class = "card-body">
      <div class = "row">
        <div class="input-group col-3">
          <input class="form-control"  ngbDatepicker name="stock_date"
            #d="ngbDatepicker" [(ngModel)]="filter.date" placeholder="Stock Date" (dateSelect)="onDateChange($event)" />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
              <fa-icon [icon]="faCalendar"></fa-icon>
            </button>
          </div>
        </div>
        <div class = "col-3">
          <button (click)="onResetFilters()" class="btn btn-warning"><fa-icon [icon]="faUndo"></fa-icon> Reset</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="p-3">
  <div class="row" *ngIf="stocks$ | async as stocks">
    <ng-container *ngIf="stocks.length > 0 || total > 0; else noData">
      <div class="col-12">
        <ng-container *ngFor="let stock of stocks">
          <ng-container>
            <div class="card mt-2">
              <div class="card-body">
                <div class="row">
                  <!--
                  <div class="col-2">
                    <div class="row">
                      <div class="col text-right">
                        <small><span>Record id : </span></small>
                      </div>
                      <div class="col text-left">
                        <small class="text-bold">{{ stock.id }}</small>
                      </div>
                    </div>
                  </div>-->
                  <div class="col-3">
                    <div class="row">
                      <div class="col text-right">
                        <small><span>
                            Stock Date :
                          </span></small>
                      </div>
                      <div class="col text-left">
                        <small>
                          <span class="text-bold">{{
                            stock.date | date: "dd/MM/yyyy"
                          }}</span></small>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col text-right">
                        <small><span>
                            Branch :
                          </span></small>
                      </div>
                      <div class="col text-left">
                        <small><span class="text-bold">{{ stock.branch.branch }}</span></small>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="row">
                      <div class="col text-right">
                        <small><span>
                            Worker :
                          </span></small>
                      </div>
                      <div class="col text-left">
                        <small><span class="text-bold">{{ stock.user.first_name }}</span></small>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col text-right">
                        <small><span>
                            Shift Work
                          </span></small>
                      </div>
                      <div class="col text-left">
                        <small><span class="text-bold">{{ stock.shift_work.shift }}</span></small>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="row">
                      <div class="col text-right">
                        <small><span>
                            Collection :
                          </span></small>
                      </div>
                      <div class="col text-left">
                        <small><span class="text-bold">RM {{ stock.financial.collection }}</span></small>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col text-right">
                        <small><span>
                            Total Expenses :
                          </span></small>
                      </div>
                      <div class="col text-left">
                        <small><span class="text-bold">RM {{ stock.expenses }}</span></small>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">

                  </div>
                  <div class="col" style="text-align: right;">
                    <button type="button" (click)="onViewStockForm(stock.id)" class="btn btn-primary btn-sm">
                      <fa-icon [icon]="faEye"></fa-icon> View
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
    <div class="container-fluid p-3">
      <ngb-pagination (pageChange)="onPageChange($event)" [(page)]="page" [pageSize]="pageLimit"
        [collectionSize]="total"></ngb-pagination>
    </div>
    <ng-template #noData>
      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <h4 class="text-center">
              <fa-icon [icon]="faInfoCircle"></fa-icon> No Data
            </h4>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
