<div class = "container-fluid bg-light page-header">
  <div class = "row">
    <div class = "col">
      <h4>Products</h4>
    </div>
    <div class = "col" style="text-align: right;">
      <button class = "btn btn-primary"  (click)="open(productFormModal)">New Product</button>
    </div>
  </div>
</div>
<div class = "container">
  <div class = "card">
    <div class = "card-body">
        <table class="table table-bordered">
          <thead class="bg-primary" style="color: white;">
            <tr >
              <th>No</th>
              <th>Product</th>
              <th>Cost Price</th>
              <th>Sell Price</th>
              <th>Date Created</th>
              <th>Date Inserted</th>
            </tr>
          </thead>
          <tbody *ngIf="products$ | async as products">
            <ng-container *ngIf="products.length > 0  else noData" >
              <tr *ngFor="let product of products">
                <td>{{product.id}}</td>
                <td>{{product.product}}</td>
                <td>{{product.cost_price}}</td>
                <td>{{product.sale_price}}</td>
                <td>{{product.date_created | date : 'dd/MM/yyyy'}}</td>
                <td>{{product.date_updated | date : 'dd/MM/yyyy'}}</td>
              </tr>
            </ng-container>
            <ng-template #noData>
              <td  class="text-center" colspan="6">No Data</td>
            </ng-template>

          </tbody>
        </table>
    </div>
  </div>
</div>


<ng-template #productFormModal let-modal>
  <div class="modal-header bg-primary" style="color: white;" >
    <h4 class="modal-title" id="modal-basic-title">Product Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="productForm">
      <div class="form-group row">
        <label class="col-2 col-form-label"> Product </label>
        <div class="input-group col-10">
          <input id="product" type="text" formControlName="product" class="form-control" >
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label"> Cost Price </label>
        <div class="input-group col-10">
          <input id="product" type="text" formControlName="cost_price"  class="form-control" placeholder="Cost Price">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label"> Sell Price </label>
        <div class="input-group col-10">
          <input id="product" type="text" formControlName="sell_price"  class="form-control" placeholder="Sell Price">
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"  (click)="onSubmit(productForm.value,modal)">Save</button>
  </div>
</ng-template>


