<div class="container-fluid bg-light page-header">
  <div class="row">
    <div class="col">
      <h4 *ngIf="!isUpdate">New Stock Form</h4>
      <h4 *ngIf="isUpdate">Update Stock Form</h4>
    </div>
    <div class="col" style="text-align: right;">
      <button [routerLink]="['/stocks']" routerLinkActive="router-link-active" class="btn btn-warning">
        <fa-icon [icon]="faArrowLeft"></fa-icon> Back
      </button>
      &nbsp;
      <button [disabled]="!stockForm.valid" (click)="onSave(entity)" class="btn btn-primary">
        <fa-icon [icon]="faSave"></fa-icon> Save
      </button>
      &nbsp;
      <button *ngIf="isUpdate" (click)="onDelete()" class="btn btn-danger">
        <fa-icon [icon]="faTrash"></fa-icon> Delete
      </button>
    </div>
  </div>
</div>

<div class="container-fluid">
  <form #stockForm="ngForm">
    <div class="row ">
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Stock Date </label>
              <div class="input-group col">
                <input [disabled]="isUpdate" class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker name="stock_date"
                  #d="ngbDatepicker" [(ngModel)]="this.entity.stock_date" required (dateSelect)="onDateChange($event)" />
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                    <fa-icon [icon]="faCalender"></fa-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Branch </label>
              <div class="input-group col">
                <select [disabled]="isUpdate" name="branch_id" [(ngModel)]="this.entity.branch_id" class="custom-select"
                  (change)="onBranchChange($event)" required>
                  <ng-container *ngFor="let branch of branch$ | async; let i = index">
                    <option value="{{ branch.id }}">{{ branch.branch }}</option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Worker </label>
              <div class="input-group col">
                <select [disabled]="isUpdate" name="user_id" [(ngModel)]="this.entity.user_id" class="custom-select"
                  required>
                  <ng-container *ngFor="let user of users$ | async">
                    <option value="{{ user.id }}">{{ user.first_name }}</option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label name="shift_id" class="col-sm-3 col-form-label">Shift
              </label>
              <div class="input-group col">
                <select [disabled]="isUpdate" [(ngModel)]="this.entity.shift_work_id" name="shift_id"
                  class="custom-select" required>
                  <ng-container *ngFor="let shift of shift$ | async">
                    <option value="{{ shift.id }}">{{ shift.shift }}</option>
                  </ng-container>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <div class = "row">
              <div class = "col">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Collection </label>
                  <div class="input-group col">
                    <input required name="collection" type="text" placeholder="RM : 00000" />
                  </div>
                </div>
                <div *ngFor="let expenses of expensesList;let i = index" class="form-group row">
                  <ng-container >
                    <label class="col-sm-3 col-form-label">Expenses </label>
                    <div class="input-group col">
                      <input name="expenses" [(ngModel)]="expensesList[i].expenses" type="text" placeholder="RM : 00000"
                        required />
                    </div>
                    <div class = "input-group col">
                      <input type="text" [(ngModel)]="expensesList[i].reason"  placeholder="Reasons"/>
                    </div>
                  </ng-container>
                </div>
              </div>
              <div class = col-2>
                <button (click)="onAddExpenses()" class="btn btn-primary"><fa-icon [icon]="faPlus"></fa-icon> Add </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="card" *ngIf="showProducts">
      <div class="card-header bg-info" style="color: whitesmoke;">
        <h4>Products Form</h4>
      </div>
      <div class="card-body">
        <div class="container">
          <div class="row">
            <ng-container>
              <table class="table table-bordered">
                <thead class="bg-light">
                  <th>No</th>
                  <th>Product</th>
                  <th>
                    IN
                  </th>
                  <th class="bg-info" style="color: whitesmoke;" *ngIf="isPrevRecordExist$ | async">
                    YESTERDAY
                  </th>
                  <th class="bg-success" style="color: whitesmoke;" *ngIf="isPrevRecordExist$ | async">
                    TOTAL
                  </th>
                  <th class="bg-danger" style="color: whitesmoke;">BALANCE</th>
                  <th *ngIf="isUpdate">TOTAL SALE</th>
                  <th *ngIf="isUpdate">NET PROFIT</th>
                </thead>
                <tbody *ngIf="!isUpdate && products$ | async as products">
                  <tr *ngFor="let product of products; let i = index">
                    <td>{{ product.id }}</td>
                    <td>{{ product.product }}</td>
                    <td>
                      <div class="input-group">
                        <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="entity.stock_products[i].stock_in"
                          [name]="entity.stock_products[i].stock_in" required type="number" />
                      </div>
                    </td>
                    <ng-container *ngIf="isPrevRecordExist$ | async">
                      <td>
                        {{ this.prevEntity.stock_products[i].stock_balance }}
                      </td>
                      <td>
                        {{
                          this.prevEntity.stock_products[i].stock_balance +
                            this.entity.stock_products[i].stock_in
                        }}
                      </td>
                    </ng-container>
                    <td>
                      <div class="input-group">
                        <input [ngModelOptions]="{ standalone: true }"
                          [(ngModel)]="entity.stock_products[i].stock_balance"
                          [name]="entity.stock_products[i].stock_balance" required type="number" />
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="isUpdate">
                  <tr *ngFor="let sp of entity.stock_products; let i = index">
                    <ng-container *ngIf="onReturnProduct(sp.product_id) | async as product">
                      <td>{{ product.id }}</td>
                      <td>{{ product.product }}</td>
                      <td>
                        <div class="input-group">
                          <input [ngModelOptions]="{ standalone: true }" [(ngModel)]="entity.stock_products[i].stock_in"
                            [name]="entity.stock_products[i].stock_in" required type="number" />
                        </div>
                      </td>
                      <ng-container *ngIf="isPrevRecordExist$ | async">
                        <td>
                          {{ this.prevEntity.stock_products[i].stock_balance }}
                        </td>
                        <td>
                          {{
                            this.entity.stock_products[i].stock_balance +
                              this.entity.stock_products[i].stock_in
                          }}
                        </td>
                      </ng-container>
                      <td>
                        <div class="input-group">
                          <input [ngModelOptions]="{ standalone: true }"
                            [(ngModel)]="entity.stock_products[i].stock_balance"
                            [name]="entity.stock_products[i].stock_balance" required type="number" />
                        </div>
                      </td>
                      <td>
                        {{
                          (this.entity.stock_products[i].stock_balance +
                            this.entity.stock_products[i].stock_in) *
                            product.sale_price
                        }}
                      </td>
                      <td>
                        {{
                          onTotalNetProfit(
                            (this.entity.stock_products[i].stock_balance +
                              this.entity.stock_products[i].stock_in) *
                              (product.sale_price - product.cost_price)
                          )
                        }}
                      </td>
                    </ng-container>
                  </tr>
                  <tr>
                    <td colspan="5" class="text-center">Total Net Profit</td>
                    <td class="text-right">{{ totalProfit }}</td>
                  </tr>
                </tbody>
              </table>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
