.register-container{
  width: 540px;
  padding: 10px;

}

.registerForm{
  padding: 30px;
}

.card-header{
  text-align: center;
  background-color: unset;
}

.logo {
  margin: auto;
  height: 20em;
  width: 25em;
  background-image: url("src/assets/images/dz.jpeg");
  background-repeat: no-repeat !important;
  background-position: 50% 90%;
  background-size: 60%;
}
