<div class="container-fluid bg-light page-header">
  <div class="row">
    <div class="col">
      <h4>Branches</h4>
    </div>
    <div class="col" style="text-align: right;">
      <button (click)="onButtonHandler({id:'',index:'4'})"class="btn btn-primary"> <fa-icon [icon]="faPlus"> </fa-icon> New Branch</button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-10">

        </div>
        <div class="col-2">
          <select [(ngModel)]="page" (change)="onPerPage($event)" class="custom-select">
            <option value="5" selected>5 per pages</option>
            <option value="10">10 per pages</option>
            <option value="15">15 per pages</option>
          </select>
        </div>
      </div>
    </div>

    <div class="card-body">
      <app-table [state$]="searchSubject$.asObservable()" (buttonsHandler)="onButtonHandler($event)" [buttons]="buttons"
        [columns]="columns" [url]="url" [length$]="lengthSubject$.asObservable()" [dateFormats]="formats"
        [length$]="lengthSubject$.asObservable()">
      </app-table>
    </div>
  </div>
</div>

<ng-template #branchFormModal let-modal>
  <div class="modal-header" [ngClass]="{'bg-primary':buttonIndex == 0,'bg-success':buttonIndex == 2,'bg-info':buttonIndex == 4}" style="color: white;">
    <h4 class="modal-title" id="modal-basic-title">
      <span *ngIf="buttonIndex == 0">View Branch Details</span>
      <span *ngIf="buttonIndex == 2">Update Branch Details</span>
      <span *ngIf="buttonIndex == 4">Add Branch Details</span>

    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="branchForm">
      <div class="form-group row">
        <label class="col-2 col-form-label"> Branch </label>
        <div class="input-group col-10">
          <input id="product" type="text"  formControlName="branch" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label"> Address </label>
        <div class="input-group col-10">
          <input id="product" type="text"  formControlName="address" class="form-control" >
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" *ngIf="buttonIndex == 2" class="btn btn-outline-dark" (click)="onSubmit(branchForm.value)">Save</button>
    <button type="button" *ngIf="buttonIndex == 4" class="btn btn-outline-dark" (click)="onSubmit(branchForm.value)">Confirm</button>

  </div>
</ng-template>
